.sectionBg {
    background: url("../images/background/pexels-mart-production-7709123.jpg") center/cover;
}

.textBox {
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem;
}