@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-nsr: "NanumSquareRound", "sans-serif";
}

@font-face {
    font-family: 'NanumSquareRound';
    font-style: normal;
    font-weight: 300; /* Light */
    src: url("assets/fonts/NanumSquareRoundL.ttf") format("truetype");
}

@font-face {
    font-family: 'NanumSquareRound';
    font-style: normal;
    font-weight: 400; /* Normal */
    src: url("assets/fonts/NanumSquareRoundR.ttf") format("truetype");
}

@font-face {
    font-family: 'NanumSquareRound';
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url("assets/fonts/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
    font-family: 'NanumSquareRound';
    font-style: normal;
    font-weight: 800; /* Extra-Bold */
    src: url("assets/fonts/NanumSquareRoundEB.ttf") format("truetype");
}